<!-- views/editProductForm.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .card {
      width: fit-content;
      border: 1px solid #ddd;
      padding: 20px;
      margin: 10px;
      border-radius: 10px;
    }

    h2 {
      color: #333;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
    }
  </style>
  <title>Edit Product Form</title>
</head>

<body>
  <form action="/admin/editProduct/<%= productData._id  %>" method="post">
    <div class="card">
      <h2>Product Details</h2>

      <label for="category">Category:</label> 
      <select name="category" id="">
        <option value="">select the category</option> 
        <% for (let i = 0; i < category.length; i++) { %>
            <option value="<%= category[i]._id %>" <%= productData.category && productData.category._id.toString() === category[i]._id.toString() ? 'selected' : '' %>>
              <%= category[i].title %>
            </option>
          <% } %>
      </select>
    

      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= productData.name %>">

      <label for="description">Description:</label>
      <input type="text" id="description" name="description" value="<%= productData.productDescription %>">

      <label for="price">Price:</label>
      <input type="text" id="price" name="price" value="<%= productData.price %>">

      <label for="tag">Tag:</label>
      <input type="text" id="tag" name="tag" value="<%= productData.tag %>">

    
      <label for="moreInformation">More Information:</label>
      <input type="text" id="moreInformation" name="moreInformation" value="<%= productData.moreInformation %>">
    

      <label for="discountType">Discount Type:</label>
      <input type="text" id="discountType" name="discountType" value="<%= productData.discountType %>">

      <label for="discountAmount">Discount Amount:</label>
      <input type="text" id="discountAmount" name="discountAmount" value="<%= productData.discountAmount %>">

      <label for="trending">Trending:</label>
      <input type="text" id="trending" name="trending" value="<%= productData.trending %>">

      <label for="stockStatus">Stock Status:</label>
      <select name="stockStatus" id="">
        <option value="" disabled>Select the status</option>
        <option value="in stock" <%= productData.stockStatus === 'in stock' ? 'selected' : '' %>>In Stock</option>
        <option value="out of stock" <%= productData.stockStatus === 'out of stock' ? 'selected' : '' %>>Out of Stock</option>
        <option value="on backorder" <%= productData.stockStatus === 'on backorder' ? 'selected' : '' %>>On Backorder</option>
    </select><br><br>

    <label for="shipping">Shipping:</label> 
    <select name="shipping" id="">
      <option value="" disabled selected>Select the shipping option</option>
      <% for (let i = 0; i < shipping.length; i++) { %>
        <option value="<%= shipping[i]._id %>" <%= productData.shipping && productData.shipping._id.toString() === shipping[i]._id.toString() ? 'selected' : '' %>>
          <%= shipping[i].name %>
        </option>
      <% } %>
    </select><br>

      <label for="weight">Weight:</label>
      <input type="text" id="weight" name="weight" value="<%= productData.weight %>">

      <label for="productAttribute">Attribute:</label>
      <select name="attribute" id="">
        <option value="" disabled selected>Select the attribute</option>
        <% for (let i = 0; i < attribute.length; i++) { %>
          <option value="<%= attribute[i]._id %>" <%= productData.attribute && productData.attribute._id.toString() === attribute[i]._id.toString() ? 'selected' : '' %>>
            <%= attribute[i].attribute %>
          </option>
        <% } %>
      </select>
      
     

      <button type="submit">Update Product</button>
    </div>
  </form>
</body>

</html>
